{% extends 'base.html.twig' %}

{% block title %}- Тавтай морил
{% endblock %}

{% block body %}

	<div
		class="content-body">
		<!-- Content -->
		<div class="content ">
			<div class="page-header d-md-flex justify-content-between">
				<div>
					<h3>Тавтай морил
						{{ app.user.username }}!</h3>
				</div>

			</div>


		</div>
	</div>
{% endblock %}
