{% extends 'base.html.twig' %}

{% block title %}- Тавтай морил
{% endblock %}

{% block body %}

	<div
		class="content-body">
		<!-- Content -->
		<div class="content ">
			<div class="page-header d-md-flex justify-content-between">
				<div>
					<h3 style="color: #000000">Тавтай морил
						{{ app.user.username }}!</h3>
				</div>

			</div>


			{% include 'layout/flash.html.twig' %}

			<h3 style="margin: 10px; margin-bottom: 15px;">
				Сүүлд ирсэн санал хүсэлтүүд:
			</h3>

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Нэр
							</th>
							<th>И-мэйл
							</th>
							<th>Санал хүсэлт</th>
						</tr>
					</thead>
					<tbody>
						{% for item in feedbackDatas %}
							<tr>
								<td>{{ item.name}}</td>
								<td>{{ item.email}}</td>
								<td>{{ item.feedback}}</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>
	</div>
{% endblock %}
