body {
    background-color: #f9f9fa;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.btn{
   margin: 30px 0 0 22px;
}

.card {
   width: 100%;
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 0
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.flex {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.text-color {
   color: #5e676f
}

.text-sm {
   font-size: .825rem
}

.h-1x {
   height: 1.25rem;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical
}

.no-wrap {
   white-space: nowrap
}

.dropdown {
   position: relative;
}

a:focus, a:hover {
   text-decoration: none;
}

list-item{
   background:white;
}
