{% extends 'content_base.html.twig' %}
{% block content_body %}
	 <h1>Launch a new Article! ?</h1>
		{{ form_start(adminForm) }}
		{{ form_row(adminForm) }}
		{{ form_end(adminForm) }}


{% endblock %}
